// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.box{
  padding: 1.5em;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  height: inherit;
}
div.contenido{
  height: 100%;
}
div.formulario{
  height: inherit;
}
h1,h2,h3,h4{
  margin: 0;
}